/* General Styles */
body {
  font-family: Lilita One, cursive;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #3a3030;
  color: #333;
}

/* Navigation Bar */
.nav-left, .nav-right{
  display: flex; 
  align-items: center;
}

.nav-left{
  font-size: 32px;
}

.nav-right{
  font-size: 24px;  
}

nav {
  background-color: #60BEA0 ;
  padding: 0px 20px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #333; 
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Lilita One',cursive;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Main Page */
#home {
  display: flex;
  border-top: 150px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}
.main-content{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  gap: 50px;
}

.dog-photo {
  width: auto;
  height: 350px;
  border-radius: 50%;
  margin-right: 30px;
  border-radius: 400px;
  border: 5px solid rgb(0, 0, 0);
}
.intro{
  max-width: 50%;
}

.intro h1 {
  font-size: 2.5em;
  margin: 0;
}

.intro .quote {
  font-style: italic;
  color: #555;
}
.bio {
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  color: #444;
  max-width: 700px; 
  margin-top: 20px;
  line-height: 1.6;
  text-align: left; 
  word-spacing: 2px;
}

/* Sections */
section {
  padding: 50px 20px;
  margin: 20px auto;
  max-width: 800px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  border-bottom: 2px solid green;
  padding-bottom: 10px;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
}
